version: 2
variables:
  - &workdir 
    /go/src/github.com/Azure/kubernetes-kms
  - &docker-image
      - image: circleci/golang:1.9
  - &create-credentials
    name: Create credentials file
    command: |
      sudo mkdir /etc/kubernetes
      echo -e '{\n    "tenantId": "'$TENANT_ID'",\n    "subscriptionId": "'$SUBSCRIPTION_ID'",\n    "aadClientId": "'$CLIENT_ID'",\n    "aadClientSecret": "'$CLIENT_SECRET'",\n    "resourceGroup": "'$RESOURCE_GROUP'",\n    "location": "'$LOCATION'",\n    "providerVaultName": "'$KV_NAME'",\n    "providerKeyName": "'$KV_KEY'"\n}' | sudo tee --append /etc/kubernetes/azure.json  > /dev/null
  - &build
    name: Build
    command:
      V=1 make build
  - &run
    name: Run
    command: |
      sudo ./kubernetes-kms > /dev/null
    background: true
  - &testsint
    name: Integration Tests
    command: |
      sudo ln -s /usr/local/go/bin/go /usr/bin/go
      echo Waiting 5 seconds for the server to start
      sleep 5
      make testint
  - &testsunit
    name: Unit Tests
    command: |
      make test
  - &debug-credentials
    name: Degug credentials file
    command:
      sudo cat /etc/kubernetes/azure.json
jobs:
  build:
    docker: *docker-image
    working_directory: *workdir
    steps:
      - checkout
      - setup_remote_docker
      - run: *build
      - run: *testsunit
      - persist_to_workspace:
          root: *workdir
          paths:
            - ./*

  runtests:
    docker: *docker-image
    working_directory: *workdir
    steps:
      - attach_workspace:
          at: *workdir
      - run: *create-credentials
      - run: *run
      - run: *testsint

workflows:
  version: 2
  build-tests:
    jobs:
      - build
      - runtests:
          requires:
            - build
